/* Components */
.card-design {
    display: grid;
    grid-template-rows: 5.5em;
    row-gap: 90px;
    height: 500px;
    padding: 25px;
    background-color: white;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: center;
}

.card-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

.item0 {
    text-align: center;
    color: rgb(174, 130, 19);
}

.item1 {
    background: linear-gradient(180.43deg, rgba(72, 67, 67, 0.315) 
    0%, rgba(106, 101, 101, 0.812) 100%), 
    url(/Card-Components/Images-1/Coffe-1.avif);
    background-size: cover;
    background-position-x: 47.25%;
    background-position-y: center;
    height: 100%;
    transition: ease 1s;
}

.item1:hover {
    transform: scale(1.2);
    transition: ease 1s;
}

.item2 {
    background: linear-gradient(180.43deg, rgba(72, 67, 67, 0.315) 
    0%, rgba(106, 101, 101, 0.812) 100%), 
    url(/Card-Components/Images-1/Bakery.jpg);
    background-size: cover;
    background-position-x: 47.25%;
    background-position-y: center;
    height: 130%;
    transition: ease 1s;
}

.item2:hover {
    transform: scale(1.2);
    transition: ease 1s;
}

.item3 {
    background: linear-gradient(180.43deg, rgba(72, 67, 67, 0.315) 
    0%, rgba(106, 101, 101, 0.812) 100%), 
    url(/Card-Components/Images-1/Food.jpg);
    background-size: cover;
    background-position-x: 47.25%;
    background-position-y: center;
    height: 100%;
    transition: ease 1s;
}

.item3:hover {
    transform: scale(1.2);
    transition: ease 1s;
}

.item4 {
    background: linear-gradient(180.43deg, rgba(72, 67, 67, 0.315) 
    0%, rgba(106, 101, 101, 0.812) 100%), 
    url(/Card-Components/Images-1/spritz.jpg);
    background-size: cover;
    background-position-x: 47.25%;
    background-position-y: center;
    height: 130%;
    transition: ease 1s;
}

.item4:hover {
    transform: scale(1.2);
    transition: ease 1s;
}

/* Utility */
.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 800;
    font-style: normal;
  }

.card-text {
    text-align: center;
    padding: 10px;
    width: 25%;
    background-color: azure;
    color: black;
    position: relative;
    top: 80.75%;
    left:70.25%;
}

.card-text-2 {
    text-align: center;
    padding: 10px;
    width: 25%;
    background-color: azure;
    color: black;
    position: relative;
    top: 85.00%;
    left:70.25%;
}
  
a {
    text-decoration: none;
    color:black;
    cursor: pointer;
}

a:active {
    color: black;
}

a:visited {
    color: grey;
}

a::after {
    content: '';
    position: absolute;
    height: 5px;
    left: 5%; 
    bottom:0;
    width: 30%;
    background: rgb(174, 130, 19);
    transition: width 500ms;
}

a:hover::after {
width: 95%;
}

/* Media */

/* Mobile */
@media only screen and (max-width:550px) {
    .card-design {
        row-gap: 5px;
        overflow-x: hidden;
    }

    .card-grid {
        margin: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 129px 129px 129px 129px;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
    }

    .card-text {
        font-size: xx-small;
        top: 70.25%;
        left:70.25%;
    }

    .card-text-2 {
        font-size: xx-small;
        top: 78.25%;
        left:73.25%;
    }

    .item1 {
        transition: ease 500ms;
    }
    
    .item1:hover {
        transition: ease 500ms;
    }
    
    .item2 {
        transition: ease 500ms;
    }
    
    .item2:hover {
        transition: ease 500ms;
    }
    
    .item3 {
        transition: ease 500ms;
    }
    
    .item3:hover {
        transition: ease 500ms;
    }
    
    .item4 {
        transition: ease 500ms;
    }
    
    .item4:hover {
        transition: ease 500ms;
    }

    a:hover::after {
        width: 80%;
        }
}

/* Tablet */
@media only screen and (min-width:551px) and (max-width:1300px) {
    .card-design {
        row-gap: 5px;
    }

    .card-grid {
        margin-left: 10px;
        margin-right: 10px;
        grid-template-columns: 20em 20em;
        grid-template-rows: 129px 129px;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
    }

    .card-text {
        font-size: x-small;
        top: 70.25%;
        left:70.25%;
    }

    .card-text-2 {
        font-size: x-small;
        top: 70.25%;
        left:73.25%;
    }

    .item1 {
        height: 100%;
        transition: ease 500ms;
    }
    
    .item1:hover {
        transition: ease 500ms;
    }
    
    .item2 {
        height: 100%;
        transition: ease 500ms;
    }
    
    .item2:hover {
        transition: ease 500ms;
    }
    
    .item3 {
        height: 100%;
        transition: ease 500ms;
    }
    
    .item3:hover {
        transition: ease 500ms;
    }
    
    .item4 {
        height: 100%;
        transition: ease 500ms;
    }
    
    .item4:hover {
        transition: ease 500ms;
    }

    a:hover::after {
        width: 80%;
        }
}
